:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--mantine-color-onyx-5);
  text-decoration: none;
}

.mantine-Notifications-root {
  position: fixed;
  top: 0;
  left: 45%;
}

.addTextSpace {
  margin: 1em;
}

.headshot {
  max-width: 100%;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  overflow: hidden;

  object-fit: cover;
  padding: 2em;
}

.portfolioImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.portfolioImageGrid {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 2rem;
}

.gridContainer {
  column-count: 4;
  column-gap: 3;
  max-width: 1130px;
  margin: 0 auto;
}

.gridContainerItem {
  grid-auto-rows: minmax(200px, auto);
}

.portfolioItem {
  float: left;
  display: block;
  width: 100%;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@media (max-width: 850px) {
  .gridContainer {
    column-count: 3;
    column-gap: 3;
    margin: 0 auto;
  }
}



@media (max-width: 600px) {

  .gridContainer {
    column-count: 2;
    column-gap: 3;
    margin: 0 auto;
  }

  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }


  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}